#everything {
	padding-top: 175px;
}

.listUserPic {
	grid-area: userPic;
}

.listDetails {
	grid-area: details;
}

.listFollowStatus {
	grid-area: followStatus;
}

.grid-container {
	display: grid;
	grid-template-columns: 15% 75% 10%;
	grid-template-rows: auto;
	grid-template-areas: 
		"userPic details followStatus";
	padding: 5px 5px 5px 5px;
}

#mostPopularList {
	list-style-type: none;
	padding: 0 0 0 0;
}

#mostPopularList li {
	border-radius: 10px;
}

#mostPopularList li:hover {
	background-color: #e0e0e2;
}