{% load static %}

<li>
  <div class="comment-container">
    <div class="comment-user-pic">
      <img src="{% static 'img/ProfilePic.png' %}"/>
    </div>
    <div class="comment-content">
      <p><b>{{ comment.username }}{{ comment.dataset_name }}</b></p>
      <p>{{ comment.content }}</p>
    </div>
    {% if user_info.username == user.username %}
    <div class="comment-vote-status">
      <a href="/comment/delete/{{ comment.id }}/">delete</a>
    </div>
    {% else %}
    <div class="comment-vote-status">
      <div class="thumbs-up">
        <i class="fa fa-thumbs-up"></i>
      </div>
      <div class="thumbs-down">
        <i class="fa fa-thumbs-down"></i>
      </div>
      <div class="total-votes">
        <p>+1 votes</p>
      </div>
    </div>
    {% endif %}
  </div>
  <hr/>
</li>