{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
	{% include "nav_bar.html" %}

	<div class="container" id="everything">
		{% include "messages.html" %}
		<h1>New Datasets</h1>
		<br/>
		<ul id="mostPopularList">
			{% for dataset in popular_datasets %}
			<li>
				<div class="dataset" onclick="toDataset('{{ dataset.id }}')">
					<div class="listUserPic">
						<img src="{% static 'img/ProfilePic.png' %}"/>
					</div>
					<div class="listDetails">
						<p><b><a href="/user/{{ dataset.creator_name }}/">{{ dataset.creator_name }}</a></b> {{ dataset.name }} </p>
						<p>Ratings:
							{% for i in "12345" %}
								{% if forloop.counter0 < dataset.rating %}
									<i class="fa fa-star"></i>
								{% else %}
									<i class="fa fa-star-o"></i>
								{% endif %}
							{% endfor %}
							{% if dataset.rating == 0 %}
							&nbsp;(No ratings yet)
							{% endif %}
						</p>
						<p>&nbsp;</p>
						<p>&nbsp;<i>#{{ dataset.genre }}</i></p>
					</div>
					{% if auth %}
						<div class="listFollowStatus">
						  {% if dataset.following == 1 %}
						  <input class="btn btn-following" type="button" value="Following" onclick="unfollow({{ dataset.id }},'index')" />
							{% elif dataset.creator_user_id == user.id %}
							<input class="btn btn-follow disabled" type="button" value="Follow" disabled />
						  {% else %}
						  <input class="btn btn-follow" type="button" value="Follow" onclick="follow({{ dataset.id }},'index')" />
						  {% endif %}
						</div>
					{% endif %}
				</div>
				<hr/>
			</li>
			{% endfor %}
		</ul>
	</div>

	{% include "foot.html" %}

</body>
</html>
