{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
	{% include "nav_bar.html" %}

	<div class="container" id="everything">
		{% include "messages.html" %}
		<h1>New Datasets</h1>
		<br/>
		<ul id="mostPopularList">
			{% for dataset in popular_datasets %}
			<li>
				<div class="dataset" onclick="toDataset('{{ dataset.0 }}')">
					<div class="listUserPic">
						<img src="{% static 'img/ProfilePic.png' %}"/>
					</div>
					<div class="listDetails">
						<p><b>{{ dataset.5 }}</b> {{ dataset.2 }} </p>
						<p>Rating 8/10</p>
						<p>&nbsp;</p>
						<p>{{ dataset.4 }}</p>
					</div>
					<div class="listFollowStatus">
						<input class="btn btn-follow" type="button" value="Follow"/>
					</div>
				</div>
				<hr/>
			</li>
			{% endfor %}
		</ul>
	</div>

	{% include "foot.html" %}

</body>
</html>
