{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="{% static 'css/index.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
	{% include "nav_bar.html" %}

	<div class="container" id="everything">
		{% include "messages.html" %}
		<h1>New Datasets</h1>
		<br/>
		<ul id="mostPopularList">
			{% for dataset in popular_datasets %}
			<li>
				<div class="dataset" onclick="toDataset('{{ dataset.id }}')">
					<div class="listUserPic">
						<img src="{% static 'img/ProfilePic.png' %}"/>
					</div>
					<div class="listDetails">
						<p><b>{{ dataset.creator_name }}</b> {{ dataset.name }} </p>
						<p>Rating 8/10</p>
						<p>&nbsp;</p>
						<p>{{ dataset.genre }}</p>
					</div>
					{% if auth %}
						<div class="listFollowStatus">
						  {% if dataset.following == 1 %}
						  <input class="btn btn-following" type="button" value="Following" onclick="unfollow({{ dataset.id }},'index')" />
						  {% else %}
						  <input class="btn btn-follow" type="button" value="Follow" onclick="follow({{ dataset.id }},'index')" />
						  {% endif %}
						</div>
					{% endif %}
				</div>
				<hr/>
			</li>
			{% endfor %}
		</ul>
	</div>

	{% include "foot.html" %}

</body>
</html>
