<div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor" id="createdMenu">
  <ul>
    <li><a href="javascript:void(0);" class="action-delete">Delete</a></li>
  </ul>
</div>

<div class="dropdown-menu dropdown-anchor-top-right dropdown-has-anchor fixed" id="userMenu" data-add-y="25">
  <ul>
    <li>
    	<p>Signed in as:</p>
    	<p><b>{{ user.username }}</b></p>
    </li>
    <li class="divider"></li>
    <li><a href="/profile">Your Profile</a></li>
    <li class="divider"></li>
    <li><a href="javascript:void(0);">Settings</a></li>
    <li><a href="/signout">Sign Out</a></li>
  </ul>
</div>
