{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "head.html" %}
	<link href="{% static 'css/popular_genres.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
	{% include "nav_bar.html" %}

	<div class="container" id="everything">
		<a href="/statistics/">Back</a>
		<h1>Most Popular Genres</h1>
		<br/>
		<ol id="mostPopularList">
            {% for genre in popular_genres %}
			<li>
				<div class="popular-genre">
					<div class="list-genre-name">
						<p><b>{{ genre.genre }}</b></p>
					</div>
					<div class="list-no-datasets">
						<p>{{ genre.num_of_datasets }} Datasets</p>
					</div>
				</div>
				<hr/>
			</li>
            {% endfor %}
		</ol>
	</div>

	{% include "foot.html" %}

</body>
</html>
